.skills {
    background-color: rgba(17, 25, 40, 0.209);
      text-align: left;
      padding: 15px;
      margin-top: 30px;
  }
  
  .skills ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  .skills ul li {
      border: 1px solid #FEBB0B;
      border-radius: 2px;
      display: inline-block;
      font-size: 12px;
      margin: 0 7px 7px 0;
      padding: 7px;
      cursor:pointer;
  }
  .skills ul li:hover{
  background-color: #FEBB0B;
  color: #282928;
  }