
@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:425px) {
    .div-card-project{
        width: 100%;
    }
    .hashtag-project {
        height: 7rem;
        margin: 1rem;
    }
}