body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #111927;
  background-image: 
      radial-gradient(at 47% 33%, hsl(37.43, 91%, 55.00000000000001%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
